<html>
        {% load staticfiles %}
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Flycan.com" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
        <div id="HEADER">
                {% if request.user.is_authenticated %}
                <p align="right"><a href="/logout/"><input type="button" class="button" value="登出"></a></p>
                {% else %}
                <p align="right"><a href="/login/"><input type="button" class="button" value="登入"></a></p>
                <p align="right"><a href="/register/"><input type="button" class="button" value="註冊"></a></p>
                 {% endif %}
              </div>
              <div id="WRAPPER">
                  <div id="SIDE">
                      <p><a href="/myads/{{user}}/">我發的廣告</a></p>
                       <p><a href="/mycase/">我接受的任務</a></p>
                       <p><a href="/mypost/">我發放的文章</a></p>
                       <p><a href="/firstpage/">回到首頁</a></p>
                       <p><a href="/gamepage/">小遊戲(貪吃蛇)</a></p>
                  </div>
                  <div id="CONTENT">
                        <div class="BOX">
                                <h2 >{{author}}的ADS</h2>
                                <p>標題:{{title}}<br>
                                ADS內容:{{content}}<br>
                                圖片:<br><img src="{{image}}" width="70%"></img><br>
                                影片:<br><video src="{{video}}"width="70%"height="30%"controls="controls"></video></p>
                        </div></div>
<div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Homepage Leaderboard -->
<ins class="adsbygoogle"
style="display:inline-block;width:728px;height:90px"
data-ad-client="ca-pub-1234567890123456"
data-ad-slot="1234567890"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</body>
</html>