<html>
    <head>

    </head>
    <body>
        <div class="info">
        <br>任務標題:{{title}}
        <br>任務內容:{{post}}
        <br>難度等級:{{rating}}
        <br>發文日期:{{postime}}
        <br>點擊次數:{{count}}
        <br>發文者:{{name}}
    </div>
    <div class="pagefunction">
        <a href="/firstpage/3">回首頁</a>
        {% if user.is_superuser %}
        <a href="/delete/{{id.id}}">Delete Post</a>
        {% else %}
        <h5>如要刪文請聯絡管理員</h5>
        {% endif %}
        <a href="/addcase/{{id.id}}/">add case</a>
    </div>
    

    </body>
</html>