<!DOCTYPE html>
<html>
{% load staticfiles %}
{% block content %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Flycan.com" />
<title>共享廣告</title>
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<!-- <img src="/static/images/titleicon.jpg" width="1200" height="500" alt="" style="display:block; margin:auto;"/> -->
</head>
<body>
    <div id="HEADER">
        {% if request.user.is_authenticated %}
        <p align="right"><a href="/logout/"><input type="button" class="button" value="登出"></a></p>
        {% else %}
        <h5>如要刪文請聯絡管理員</h5>
        {% endif %}
        
    </div>
      <div id="WRAPPER">
          <div id="SIDE">
                <p><a href="/firstpage/3">回首頁</a></p>
                {% if user.is_superuser %}
                <p><a href="/delete/{{id.id}}">刪除文章</a></p>
                {% endif %}
                <p>如要刪文請聯絡管理員</p>
                {% if request.user.is_authenticated %}
                <p><a href="/addcomment/{{id.id}}/">add comment</a></p>
        {% endif %}
          </div>
          <div id="CONTENT">
                <div class="BOX">
                <h2>任務標題:{{title}}</h2>
                <p>任務內容:{{post}} <br>
                難度等級:{{rating}}<br>
                發文日期:{{postime}}<br>
                點擊次數:{{count}}<br>
                發文者:{{name}}<br>
                有多少人願意參加:{{numofworker}}<br>
                參加人名單:{{workername}}<br>
                圖片:<br><img src="{{img}}" width="70%">

                {% if request.user.is_authenticated %}
                <p align="right" style="font-size:35px;"><a href="/addcase/{{id.id}}/">加入我的任務列表</a></p>
                {% endif %}
              </p>  
          </div>
          </div>
        </div>

      </div>
      <div id="WRAPPER2">
        <div id="SIDE2">
            <h2 style="font-size: 1.3cm;	margin-left: 30px; margin-right: 20PX; border-color: #8080C0;; border-style: solid;width: 20; ">留言區:</h2>
            <div class="BOX">
                {% for qq in comment %}
                {% if qq.caseid == id.id %}
                <p style="margin-right:30px ; margin-left: 30px;  ;height:200px ;"><img src="{{pic}}"></p>
                <p>用戶名稱:{{qq.user}}</p>
            </div>
        </div>
        <div id="CONTENT2"></div>
        <br>
        <div id="SIDE3">

          <br>
            
            留言:<br>{{qq.comment}}
            Like:{{qq.like}}
              <p>123</p>

            {% endif %}
            {% endfor %}
      </div>
    </div>


        <div id="FOOTER">

        </div>
</body>
{% endblock %}
</html>