<!DOCTYPE html>
<html>
{% load staticfiles %}
{% block content %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Flycan.com" />
<title>共享廣告</title>
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<!-- <img src="/static/images/titleicon.jpg" width="1200" height="500" alt="" style="display:block; margin:auto;"/> -->
</head>
<style type="text/css">
  table.hovertable {
    font-size:30px;
    color:#000;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
  }
  table.hovertable a{
    font-size:30px;
    color:#000;
    display: block;
    text-align:center;
  }
  table.hovertable th {
    background-color:#c3dde0;
    border-width: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #a9c6c9;
  }
  table.hovertable tr {
    background-color:#d4e3e5;
  }
  table.hovertable td {
    border-width: 5px;
    padding: 15px;
    border-style: solid;
    border-color: #a9c6c9;
  }
    </style>
  <script>
    function weblist_onmouseover(obj){
    obj.style.backgroundColor='#ffff66';
    }
    function weblist_onmouseout(obj){
    obj.style.backgroundColor='#d4e3e5';
    }
    </script>

<body>
    <div id="HEADER">
        {% if request.user.is_authenticated %}
        <p align="right"><a href="/logout/"><input type="button" class="button" value="登出"></a></p>
        {% else %}
        <p align="right"><a href="/login/"><input type="button" class="button" value="登入"></a></p>
        <p align="right"><a href="/register/"><input type="button" class="button" value="註冊"></a></p>
         {% endif %}
      </div>
      <div id="WRAPPER">
          <div id="SIDE">
              {% if request.user.is_authenticated %}
            <p><a href="/mycase/">我接受的任務</a></p>
            <p><a href="/mypost/">我發放的文章</a></p>
            <p><a href="/userpage/">我的個人資料</a></p>
            <p><a href="/gamepage/">小遊戲(貪吃蛇)</a></p>
            {% endif %}
          </div>
          <div id="CONTENT">
              <marquee direction="down"class="gg3p0"><h5 align="center" valign="center" style="font-size:1.8cm;" >任務列表</h5> </marquee>
            <h3 align="right" valign="right"> 現時時間: {{now}}</h3>
              <table class="hovertable" width="99%">
                <tr>
                  <th width="30%">標題</th><th width="10%">發文者</th><th width="30%">發文時間</th><th width="10%">點撃數</th>
                  <th width="15%">是否開放</th>
                </tr>
                {% for m in units %}
                <tr onmouseover="weblist_onmouseover(this);" onmouseout="weblist_onmouseout(this);">
                  <td  style="word-break: break-all;"><a href="/detail/{{m.id}}/" title="">{{ m.Mtitle }}</a></td>
                  <td  style="word-break: break-all;"><center>{{ m.Mname }}</center></td>
                  <td  style="word-break: break-all;" id="date"><center>{{ m.postime }}</center></td>
                  <td  style="word-break: break-all;">{{ m.count }}</td>
                  <td  style="word-break: break-all;"><center>{{ m.status }}</center></td>
                </tr><tr onmouseover="weblist_onmouseover(this);" onmouseout="weblist_onmouseout(this);">
                  {% endfor %}
                </table>
                <br>
                <div class="pagefunction">
                  {% if currentpage > 1 %}
                  <h1 align="center" style="font-size:0.7cm;"><a href="/firstpage/1/" title="prevpage">上一頁</a></h1>
                  {% endif %}
                  {% if currentpage < totalpage %}
                  <h1 align="center" style="font-size:0.7cm;"><a href="/firstpage/2/" title="nextpage">下一頁</a></h1>
                    {% endif %}

                  <p align="right"><a href="/post/"><input type="button" class="button" value="發文"/></a></p>
                  <p align="right"><a href="/ads/"><input type="button" class="button" value="發廣告"/></a></p>

            </div>
          </div>
        </div>
        <div id="FOOTER">
            <h2>想打工?</h2>
          </div>
</body>
{% endblock %}
</html>
