<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<h2>Sharing Abs</h2>
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<img src="/static/images/titleicon.jpg" width="1200" height="500" alt="" style="display:block; margin:auto;"/>
</head>
<body>
{% block content %}
<h2>任務列表</h2>
{% for m in missions %}
任務名稱:{{m.Mtitle}}</br>
任務內容:{{m.Mpost}}</br>
任務評分:{{m.Mrating}}</br>
觀看人數:{{m.count}}</br>
</br>
{% endfor %}
<h3>time now is : {{now}}</h3>
<a href="/post/">
    <input type="button" class="button" value="post" />
 </a>
</body>
{% endblock %}
</html>