{% load staticfiles %}
<html>
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta name="author" content="Flycan.com" />
                <title>參加人名單</title>
                <link rel="stylesheet" href="{% static 'css/button.css' %}">
                <link rel="stylesheet" href="{% static 'css/layout.css' %}">
                <link rel="stylesheet" href="{% static 'css/reset.css' %}">
                <!-- <img src="/static/images/titleicon.jpg" width="1200" height="500" alt="" style="display:block; margin:auto;"/> -->
                </head>
        <body>
                <div id="HEADER">
                      
                  </div>
            
                  <div id="WRAPPER">
                        <div id="SIDE">  
                        <p><a href="/firstpage/3">回首頁</a></p>
                        </div>
                      <div id="CONTENT">
                            <h2>用戶名單</h2>
      <table>
        <th><table border=1>
            <tr>
            <th>賬號名稱</th>
            </tr>
            {% for x in hehe %}
            <tr>
            <td>{{x}}</td>
            </tr>
            {% endfor %}
            </table>
        </th>
        <th>
            <table border=1>
                <tr>
            <th>link</th>
        </tr>
            {% for o in iddd %}
            <tr>
            <td><a href="/userpage/{{o}}">Link to userpage</a></td>
            </tr>
            {% endfor %}
        </table>
    </th>
    </table>
                      </div>
                      <div id="CONTENT">
                      </div>
                      <div id="CONTENT">
                          <br> <br>
                        </div>
                  </div>
                    <div id="FOOTER">
                      </div>
            </body>
</html>




