<html>
        {% if request.user.is_authenticated %}
    <head>
        <h1>Sharing Abs</h1>
    </head>
    <body>
        <form action="/post/" method ="POST" name="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            請輸入任務題目:<input type="text" name="title" required>
            請輸入任務內容:<input type="textarea" name="post"required>
            Deadline:<input type="date"name="deadline"required>
            Money:<input type="number"name="money"required>
            Status:<input type="checkbox"name="status"value="True">
            Rating:<input type="radio" name="rating" value="1"><input type="radio" name="rating" value="2">
            <input type="radio" name="rating" value="3"><input type="radio" name="rating" value="4">
            <input type="radio" name="rating" value="5">
            請輸入圖片:<input type="file" name="picture" id="picture" placeholder="Image"required>
            <h4>idname : {{user.username}}</h4>
            <input type="submit" name="comfirm">
        </div>
        <div>{{mess}}</div>
        </form>

    </body>
    {% else %}
<html>
  <h1>未登入</h1>
  <a href="/login/"><input type="button" class="button" value="login" /></a>
{% endif %}
</html>
</html>