@charset "utf-8";
/* CSS Document */

@import url("reset.css");
body {
	background-color: #B0B0B0;
}
#HEADER {
	margin:0 auto;
	width:1480px;
	height:150px;
	background-image:url(images/top.jpg);
}
#HEADER h1 {
	text-indent:-9999px;
}
#WRAPPER {
	margin:0 auto;
	width:1460px;
	padding:0 10px;
	background-image:url(images/center.jpg);
	overflow:auto;
}
#WRAPPER2 {
	margin:0 auto;
	width:1460px;
	padding:0 10px;
	background-image:url(images/center2.jpg);
	overflow:auto;
}
#CONTENT2 {
	margin-left:200px;
	margin-right:20px;
	_height:1%;
	padding-top:15px;
	padding-bottom:25px;
}
#SIDE2 {
	float:left;
	margin: 1%;
}
#SIDE2 .BOX{
	width: 200PX;
	height: 240PX;
	border-color: #8080C0;
	border-style: solid;
	margin-left: 30px;
}
#SIDE3 {
	float: left;
    border-style: solid;
    margin: 1%;
    width: 1000px;
	height: 240px;
    /* padding-top: 15px; */
    margin-top: 22.5px;
	margin-left: -17px;
	border-color: #8080C0;
}
#CONTENT {
	margin-left:300px;
	margin-right:20px;
	_height:1%;
	padding-top:15px;
	padding-bottom:25px;
}
#CONTENT .BOX {
	width:650px;
	margin:0 auto;
	border:1px dotted #CCCCCC;
	margin-bottom:10px;
}
#CONTENT .BOX h2 {
	font-size: 30px;
	font-family: Arial;
	background-color: #8080C0;
	color: #000000;
	text-indent: 205px;
	line-height: 1.5;
	letter-spacing: 1px;
}
#CONTENT .BOX p {
	font-size:20px;
	font-family:Arial;
	line-height:1.5;
	padding:10px;
	letter-spacing:2.5px;
}
#CONTENT .tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#CONTENT .tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#CONTENT .th{
	height: 20px;
    border: none;
    vertical-align: baseline;
}
#CONTENT .tf{
    padding: 3px 0;
}
#SIDE {
	float:left;
	margin: 1%;
	width:250px;
	padding-top:15px;
}
#SIDE p {
	font-size:20px;
	font-family:Arial;
	text-align:center;
	padding:10px 20px;
}
#SIDE a {
	text-decoration:none;
	color:#006699;
}
#SIDE a:hover {
	color:#FF6600;
}
#FOOTER {
	clear:both;
	_height:1%;
	margin:0 auto;
	width:1480px;
	height:121px;
	background-image:url(images/down.jpg);
}
#FOOTER h2 {
	font-size:11px;
	font-family:Arial;
	padding-left:20px;
	padding-top:10px;
	font-weight:normal;
	letter-spacing:1px;
}