body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
	margin:0;
	padding:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
/*h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}*/
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}

table .hovertable{
	font-size: 15px;
	color: #000000;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table .hovertable tr {
    background-color: #d4e3e5;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table .hovertable th {
    background-color: #c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
table .hovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}